@charset "utf-8";
/* トップページ用css */

/* ブラウザスタイルの初期化 */
* {
  margin: 0;
  padding: 0;
}

/* 基本の指定 */
html {
  max-width: 100%;
  font-size: 62.5%; /* 基本文字サイズ10pxに変更 */
}

body {
  background-color: #cbdbf2;
  background-image: url(../images/background.png); /* 青のストライプ背景 */
  background-repeat: repeat; /* 背景リピート */
}

p {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Kosugi Maru", sans-serif;
  line-height: 1.75;
}

h1 {
  display: none;
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* 基本の指定終わり */

/* 「ぜんぶ見る」ボタンの指定 */
.button_all {
  margin: 6rem;
  width: auto;
  height: 8rem;
  background-color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: "Kosugi Maru", sans-serif;
  border: 0.5rem solid #64f5c0;
  border-radius: 5rem;

  /* アニメーション指定 */
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.button_all:hover {
  background-color: #64f5c0;
  border: 0.5rem solid #64f5c0;
}

.button_all a {
  padding: 4rem;
  color: #13835a;
}

.button_all a:visited {
  color: #13835a;
}
/* 「ぜんぶ見る」ボタンの指定終わり */

/* 浮き上がるアニメーション指定 */
.fadeup {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 浮き上がるアニメーション指定終わり */

/* ヘッダー（ナビ）部分の指定 */
.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%; /* ヘッダー横幅（画面の100%） */
  margin: 0 auto; /* ヘッダーの画面中央揃え */
}

.header_nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.header_nav .nav_item {
  display: flex;
  margin: 0; /* ナビ項目間のマージン */
  width: 12rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #8543ff;
  box-shadow: 1rem 0 #64f5c0, 1rem 0.5rem 8px #656774;
  border-radius: 0 0 10rem 10rem;

  /* アニメーション指定 */
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.header_nav .nav_item:hover {
  background-color: #64f5c0;
}

.header_nav .nav_item_top {
  /* 現在地ナビ部分色変え */
  background-color: #cc00ff;
}

.header_nav .nav_item a {
  padding: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}

.header_nav a:visited {
  color: #fff;
}
/* ヘッダー（ナビ）部分の指定終わり */

/* メインビジュアル部分の指定 */
.mainvisual {
  position: relative;
  width: 100%;
  text-align: center;
}

.mainvisual_1 {
  width: 100%;
}

.mainvisual_2 {
  position: absolute;
  top: 250px;
  left: 80px;
  width: 600px;
}

.mainvisual_3 {
  position: absolute;
  top: 410px;
  right: 80px;
  width: 550px;
}
/* メインビジュアル部分の指定終わり */

/* article共通部分 */
article {
  width: 80%; /* 横幅（画面の80%） */
  margin: 10rem auto;
  padding: 2rem;
  background-color: #ff439b;
  border-radius: 2rem;
  box-shadow: 2rem 1rem #64f5c0;
}

article h2 {
  margin-top: -5rem; /* 上部マージン */
  margin-bottom: 2rem; /* 下部マージン */
  color: #fff;
  font-size: 6rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center; /* 文章中央揃え */
  text-shadow: 0.1rem 0.1rem 0 #9f0241, -0.1rem -0.1rem 0 #9f0241, -0.1rem 0.1rem 0 #9f0241, 0.1rem -0.1rem 0 #9f0241, 0.1rem 0 0 #9f0241, -0.1rem 0 0 #9f0241, 0 0.1rem 0 #9f0241, 0 -0.1rem 0 #9f0241, 0.6rem 0 #9f0241;
}
/* article共通部分終わり */

/* きゃりーぱみゅぱみゅの紹介部分 */
.about {
  text-align: center; /* 文章中央揃え */
  border: 0.5rem solid #dd216d;
}

.about p {
  font-size: 2.4rem;
}
/* きゃりーぱみゅぱみゅの紹介部分終わり */

/* MUSIC部分 */
.music {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}

.music_loop {
  display: flex; /* ulタグを横並びにする */
  padding-top: 5rem;
  overflow: hidden; /* 画面からはみ出す部分を隠す */
}

.music_loop_list {
  display: flex;
  animation: loop_list_1 60s linear infinite;
}

@keyframes loop_list_1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.music_loop_item img {
  width: calc(100vw / 5);
  margin: 0 5rem;
  border-radius: 2rem;
}
/* MUSIC部分終わり */

/* COSTUME部分 */
.costume {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}

.costume_loop {
  display: flex; /* ulタグを横並びにする */
  padding-top: 5rem;
  overflow: hidden; /* 画面からはみ出す部分を隠す */
}

.costume_loop_list {
  display: flex;
  animation: loop_list_2 50s linear infinite;
}

@keyframes loop_list_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.costume_loop_item img {
  width: calc(100vw / 5);
}
/* COSTUME部分終わり */

/* GOODS部分 */
.goods {
  text-align: center;
}

.goods div {
  display: inline-block;
  text-align: center;
}

.goods img {
  width: 25rem;
  margin: 2rem;
  border-radius: 2rem;
}
/* GOODS部分終わり */

/* フッター部分 */
footer {
  width: 100%;
  background-color: #ff439b;
  text-align: center; /* フッター内中央揃え */
}

.sns {
  display: flex;
  width: 100%;
  padding-top: 5rem; /* 上部のパディング */
  justify-content: center;
  align-items: center;
}

.sns a {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 1rem 5rem;
  justify-content: center;
  align-items: center;
}

.sns img {
  height: 32px; /* SNSアイコン縦幅 */
}

small {
  display: block;
  padding: 5rem 0;
  color: #fff;
  font-size: 1.6rem;
}
/* フッター部分終わり */
